@model IEnumerable<APIConsume.Models.Cases>

@{ Layout = "_Layout"; ViewBag.Title = "Casos no Brasil";}

<section class="">
    <header class="d-flex justify-content-center">
        <div class="d-flex justify-content-start">
            <img src="https://image.flaticon.com/icons/svg/2585/2585189.svg" alt="Coronavirus" class="bg-warning rounded-pill" style="width: 200px; height: 200px; padding: 20px; position: absolute;" />
            <div class="bg-white rounded-pill" style="width: 100%; text-align: center; margin-left: 100px; margin-top: 25px;">
                <h1 class="font-weight-bolder text-primary" style="padding: 45px; margin-left: 60px; ">CORONAVÍRUS NO BRASIL</h1>
            </div>
        </div>
    </header>
    <div style="margin: 100px 250px 250px 250px">
        @foreach (var r in Model)
        {
            for (int i = 0; i < Model.Count(); i++) {
                if(i == Model.Count() - 1) {
                        <div class="bg-light d-flex bd-highlight mb-3 rounded-pill">
                            <h2 class="font-weight-bolder text-primary align-self-center" style="margin-left: 50px">CONFIRMADOS</h2>
                            <div class="bg-dark ml-auto p-2 bd-highlight rounded-pill" style="width: 35%; text-align: center;">
                                <h4 class="font-weight-bolder ml-auto p-2 bd-highlight align-self-center text-white" style="font-size: 24pt">@r.Confirmed</h4>
                            </div>
                        </div>

                        <div class="bg-light d-flex bd-highlight mb-3 rounded-pill">
                            <h2 class="font-weight-bolder text-primary align-self-center" style="margin-left: 50px">ÓBITOS</h2>
                            <div class="bg-danger ml-auto p-2 bd-highlight rounded-pill" style="width: 35%; text-align: center;">
                                <h4 class="font-weight-bolder ml-auto p-2 bd-highlight align-self-center text-white" style="font-size: 24pt">@r.Deaths</h4>
                            </div>
                        </div>

                        <div class="bg-light d-flex bd-highlight mb-3 rounded-pill">
                            <h2 class="font-weight-bolder text-primary align-self-center" style="margin-left: 50px">DOENTES</h2>
                            <div class="bg-warning ml-auto p-2 bd-highlight rounded-pill" style="width: 35%; text-align: center;">
                                <h4 class="font-weight-bolder ml-auto p-2 bd-highlight align-self-center text-white" style="font-size: 24pt">@r.Active</h4>
                            </div>
                        </div>

                        <div class="bg-light d-flex bd-highlight mb-3 rounded-pill">
                            <h2 class="font-weight-bolder text-primary align-self-center" style="margin-left: 50px">CURADOS</h2>
                            <div class="bg-success ml-auto p-2 bd-highlight rounded-pill" style="width: 35%; text-align: center;">
                                <h4 class="font-weight-bolder ml-auto p-2 bd-highlight align-self-center text-white" style="font-size: 24pt">@r.Recovered</h4>
                            </div>
                        </div>
                }
            }
        }
    </div>
</section>