<style>
    
    h1{
        font-size: 56px;
        text-align: center;
        color: #111111;
        font-family: Arial Bold, Helvetica, sans-serif;
    }
    h2{
        font-size: 34px;
        text-align: start;
        color: #0C326F;
        font-family: Arial Bold, sans-serif;
    }
    .p{
        font-size: 20px;
        text-align: justify;
        color: #333333;
        font-family: Arial Bold, Helvetica, sans-serif;
    }
</style>

@{
    ViewData["Title"] = "#FiqueEmCasa";
}
<h1>@ViewData["Title"]</h1>
 <br>
  <br>
  <h2>
       Mas o que fazer em casa?
  </h2>
<p class="p">
    As medidas de quarentena adotadas para conter o novo coronavírus, como fechamento do comércio
    e estímulo ao home office, deixaram milhões de brasileiros em casa.
    Tal situação pode gerar muita ansiedade e é bom poder se distrair. Por isso listamos aqui 
    algumas coisas que você pode fazer direto de sua casa.
</p>
<br>
<h2>Botar um carousel aqui!!</h2>
  