    @{ Layout = "_Layout"; ViewBag.Title = "Dicas de Prevenção!";}


<h1>@ViewData["Title"]</h1>



<div class="container">
  <div class="d-flex align-content-center flex-wrap">

      <div class="card" style="width: 22rem; height: 15rem;">
        <img class="card-img-top" src="https://i.imgur.com/OjAtZIY.png/240px352" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Evite contato físico.</p>
      </div>
    </div>


    
      <div class="card" style="width: 22rem; height: 15rem;">
        <img class="card-img-sm-4" src="https://i.imgur.com/xgjM6G9.png/240px352" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    

    
      <div class="card" style="width: 22rem; height: 15rem;">
        <img class="card-img-sm-4" src="https://i.imgur.com/xgjM6G9.png/240px352" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
   


      <div class="card" style="width: 22rem; height: 15rem;">
        <img class="card-img-sm-4" src="https://i.imgur.com/xgjM6G9.png/240px352/?text=Image cap" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>



      <div class="card" style="width: 22rem; height: 15rem;">
        <img class="card-img-sm-4" src="https://i.imgur.com/xgjM6G9.png/240px352/?text=Image cap" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card" style="width: 22rem; height: 15rem;">
        <img class="card-img-sm-4" src=".../100px180/?text=Image cap" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

  

  </div>
</div>

 

