<style>
    
    h1{
        font-size: 56px;
        text-align: center;
        color: #111111;
        font-family: Arial Bold, Helvetica, sans-serif;
    }
    h2{
        font-size: 34px;
        text-align: start;
        color: #0C326F;
        font-family: Arial Bold, sans-serif;
    }
    .p{
        font-size: 20px;
        text-align: justify;
        color: #333333;
        font-family: Arial Bold, Helvetica, sans-serif;
    }
</style>

@{
    ViewData["Title"] = "O que fazer durante a quarentena";
}
			
      
<h1>@ViewData["Title"]</h1>
<br>

<p class="p"> 
    O isolamento social é uma das medidas para diminuir o risco de contaminação do COVID-19, 
    no entanto, ficar em casa está sendo visto como 
    tédioso e nada produtivo, para fazer com que essa idéia desapareça, separamos algumas coisas
    que qualquer um pode fazer e que pode ajudar
    a suavizar esse momento.
</p>

<h2>Vamos a lista:</h2> 
<br>
<h2>1) Livros, filme e séries</h2>

<p class="p">
    Para começar, vamos com os passatempos mais populares
    Um bom livro, filmes favoritos ou maratonar séries novas são 
    coisas que todo mundo gosta
    Então, divirta-se <i>indoor</i> e aproveite esse 'tempo livre', 
    seja com Nietsche ou com Tom Cruise, apenas aproveite.
    <br>    
    <img style="padding: 3%; width: 70%;" src="https://img.ibxk.com.br/2020/03/17/17162752936296.jpg">
    <br>
</p>

<h2>2) Exercícios</h2>

<p class="p">
    Já que academia está fora de cogitação, o caminho é fazer em casa mesmo.
    Procure por artigos ou vídeos que possam te ajudar a criar uma rotina de treino adequada 
    para você e seu corpo e busque a saúde e o físico desejado.
    Coloque os fones de ouvido com sua melhor playlist e treine.
    <br>
    <img style="padding: 3%; width: 70%; "src="https://img-16.ccm2.net/ixrA6UlXfeoNw0tt4qh28bkNBm4=/2508x/25872fb6a6cf46ec83fd4464e1810c52/ccm-faq/124455503_m.jpg">
    <br>
</p>

<h2>3) Jogos</h2>

<p class="p">
    Os grandes e majestosos jogos, sejam eles de tabuleiro, celulares, consoles ou computadores, 
    com toda certeza vai te manter em casa e bem ocupado.
    Comece procurando um gênero do qual goste, uma breve pessquisa é o suficiente, 
    há um infinita varieda tanto paga quanto grátis.
    Só tome cuidado para não ficar completamente viciado, viu?
    <br>
    <img style="padding: 3%; width: 70%;" src="https://sm.ign.com/ign_br/screenshot/default/fallendhm_y2e6.jpg">
    <br>
</p>

<h2>4) Estude </h2>

<p class="p">
    Buscar melhorar a si mesmo é uma tarefa árdua, mas necessária. 
    Agregar conhecimento e aprender coisas novas além de te ocupar é algo extremamente produtivo.
    Fazer um cursinho, estudar para um concurso/vestibular ou relembrar as matérias da escola. Invista
    em si e no seu crescimento individual, dê seu máximo e com certeza
    os resultados irá te agradar.
    <br>
    <img style="padding: 3%; width: 70%;" src="https://abrilexame.files.wordpress.com/2018/02/monkeybusinessimages.jpg">
    <br>
</p>

<h2>5) Arrume a casa</h2>

<p class="p">
    Se você vai passar os dias de isolamento em um só lugar, que esse lugar esteja agradável e confortável.
    Por isso, uma boa faxina e/ou uma nova decoração é necessária.
    Deixe a preguiça de lado, coloque novamente os fones de ouvido com a playlist favorita e mãos à obra.
    <br>
    <img style="padding: 3%; width: 70%;" src="https://www.dicasdemulher.com.br/wp-content/uploads/2017/05/como-fazer-faxina-1-1200x738.jpg">
    <br>
</p>

<h2>6) Relaxe</h2>

<p class="p">
    Ao contrário do que muitos pensam, a "arte de não fazer nada" também pode ajudar. Ficar deitado 
    ouvindo música e pensando na vida, ou simplesmente sonhar acordado com coisas do seu agrado são 
    tarefas satisfatórias relaxantes.
    O ócio pode ajudar a esvaziar a mente, expulsar pensamentos ruins e passar por esse momento 
    de uma maneira menos desagradável.
    <br>
    <img style="padding: 3%; width: 70%;" src="https://www.medis.pt/media/1892/article-heading-dicas-relaxar-saude-bem-estar-medis.jpg?anchor=center&mode=crop&width=1440&height=895&rnd=131719912220000000">
    <br>
</p>

<br>
<br>
<br>
<br>

<p class="p">
    No fim das contas, o que importa é o seu bem-estar, faça as coisas que 
    você quer e gosta, mas evite o que pode pôr sua saúde e a 
    da sua família em risco, fique em casa e cuide de você e das pessoas
    importantes para ti.
</p>